// layout
$max-width:     1200px;
$bp-tablet:     768px;
$bp-desktop:    992px;
$marge:         15px;


// Typos
$font-default: 'futura', sans-serif;
$font-title: 'futura';
$font-size-base: 87.5%;

// Couleurs
$red: #f84242;
$dark-red: #d43839;
$gray: #cfcfcf;
$dark-gray: #414141;
$light-gray: #e5e5e5;
$brown: #683C11;
$green: #006633;
$orange: #F39200;

$link-color: #fff;    



